.footer {
    background-color: $azul-to;
    height: 3.5rem;
    padding: 0 10rem;
  
    display: flex;
  
    justify-content: space-between;
    align-items: center;
  
    .logo {
      background: transparent;
      border: none;
  
      cursor: pointer;
    }
  
    .nav-options {
      color: $blanco-to;
      width: 25vw;
      height: 2rem;
  
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  
      list-style-type: none;
      text-transform: uppercase;
      font: 0.9rem normal Roboto, sans-serif;
  
      .nav-item {
        cursor: pointer;
        padding: 0.5rem;
        letter-spacing: 1.25px;
        transition: border-radius 1.2s;
        -webkit-transition: border-radius 1.2s;
  
        &:hover {
            filter: opacity(30%);
        }
      }
  
      a {
        text-decoration: none;
  
        &:visited {
          color: $amarillo-to;
        }
      }
    }
  }