.navbar {
  background-color: $azul-to;
  height: 3.5rem;
  padding: 0 10rem;

  display: flex;

  justify-content: space-between;
  align-items: center;

  .logo {
    background: transparent;
    border: none;

    cursor: pointer;
  }

  .nav-options {
    color: $blanco-to;
    width: 45vw;
    height: 2rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style-type: none;
    text-transform: uppercase;
    font: 0.9rem normal Roboto, sans-serif;

    @media screen and (max-width: 375px) {
      z-index: 1;
      position: relative;
      flex-direction: column;
      margin-top: 15rem;

      left: 0;
    }

    .nav-item {
      cursor: pointer;
      padding: 0.5rem;
      letter-spacing: 1.25px;
      transition: border-radius 1.2s;
      -webkit-transition: border-radius 1.2s;

      @media screen and(max-width:375px) {
        border-top: 1px solid $gris5;
        margin-right: 39rem;
        text-align: left;
        background-color: $azul-to;
        width: 80%;
      }

      &:hover {
        border-radius: 50px 50px 50px 10px;
        background-color: $blanco-to;
        color: $gris1;
      }

      &:active {
        background-color: $rosa-to;
        color: $gris5;
      }
    }

    a {
      text-decoration: none;

      &:visited {
        color: $amarillo-to;
      }
    }
  }

  .nabtn {
    display: none;

    @media screen and (max-width: 375px) {
      display: block;
      position: absolute;
      z-index: 3;
      cursor: pointer;

      background-color: transparent;
      border: none;

      top: 0.5rem;
      left: 1.7rem;
    }
  }
}
