$azul-to: #1A30DB;
$rosa-to: #ba1863;
$amarillo-to: #ffbc15;
$negro-to: #373737;
$blanco-to:#FFFFFF;
$gris1: #333333;
$gris2: #6f6f6f;
$gris3: #918f8f;
$gris4: #bdbdbd;
$gris5: #f2f2f2;

.Main {
  text-align: center;
}

