@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Roboto:wght@400;500;700&display=swap");
.Main {
  text-align: center;
}

.in-map {
  /* From https://css.glass */
  background: rgba(117, 207, 240, 0.34);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  height: 57vh;
  width: 20rem;
  z-index: 2;
  border-radius: 1rem;
  position: absolute;
  text-align: left;
  margin: 10% 70% 7% 5%;
  padding: 1rem;
}

.in-map h1 {
  font: 2.8rem Roboto, sans-serif;
  height: 10rem;
}

.in-map p {
  font: 1rem Roboto, sans-serif;
}

.in-id {
  margin-top: 8rem;
}

.in-id h1 {
  font: normal 400 2rem/2.2rem Roboto, sans-serif;
  text-align: center;
}

.in-id p {
  font: 1rem Roboto, sans-serif;
  text-align: justify;
}

.mapcard {
  z-index: 2;
  width: 100%;
  height: 100%;
}

.mapcard .cardbtn {
  width: 100%;
  height: 3rem;
  background-color: #333333;
  border-radius: 5px;
  border: none;
  font: 1rem Roboto, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  transition: border-radius 1.2s;
  -webkit-transition: border-radius 1.2s;
}

.mapcard .cardbtn:hover {
  border-radius: 35px 10px;
  background-color: #ba1863;
}

.in-map {
  /* From https://css.glass */
  background: rgba(117, 207, 240, 0.34);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  height: 57vh;
  width: 20rem;
  z-index: 2;
  border-radius: 1rem;
  position: absolute;
  text-align: left;
  margin: 10% 70% 7% 5%;
  padding: 1rem;
}

.in-map h1 {
  font: 2.8rem Roboto, sans-serif;
  height: 10rem;
}

.in-map p {
  font: 1rem Roboto, sans-serif;
}

.in-id {
  margin-top: 8rem;
}

.in-id h1 {
  font: normal 400 2rem/2.2rem Roboto, sans-serif;
  text-align: center;
}

.in-id p {
  font: 1rem Roboto, sans-serif;
  text-align: justify;
}

.mapcard {
  z-index: 2;
  width: 100%;
  height: 100%;
}

.mapcard .cardbtn {
  width: 100%;
  height: 3rem;
  background-color: #333333;
  border-radius: 5px;
  border: none;
  font: 1rem Roboto, sans-serif;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  transition: border-radius 1.2s;
  -webkit-transition: border-radius 1.2s;
}

.mapcard .cardbtn:hover {
  border-radius: 35px 10px;
  background-color: #ba1863;
}

.project-link {
  width: 100vw;
  position: absolute;
  background-color: transparent;
  z-index: 2;
  margin-top: 80vh;
  margin-bottom: 1rem;
}

.project-link h2 {
  font: bold 1.2rem/2rem Oswald;
}

.project-link img {
  cursor: pointer;
}

.mapboxgl-popup-content {
  z-index: 5;
  width: 26rem;
  border-radius: 2rem;
  text-align: left;
  padding: 0;
}

.mapboxgl-popup-content h1 {
  font: normal 400 1.5rem/1.5rem Roboto, sans-serif;
  padding: 0 10px;
}

.mapboxgl-popup-content h3 {
  font: normal 400 1rem/1rem Roboto, sans-serif;
  padding: 0 10px;
}

.mapboxgl-popup-content p {
  font-size: .8rem;
  padding: 0 10px;
}

.mapboxgl-popup-content .popupi {
  height: 7rem;
  width: 26rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2rem 1.2rem 0 0;
}

.mapboxgl-popup-content .mapboxgl-popup-close-button {
  display: none;
}

.marker {
  background-image: url("https://www.logolynx.com/images/logolynx/d9/d9919c041510c71109ff9bb7a42e2259.png");
  background-size: cover;
  width: 50px;
  border-radius: 50%;
}

.mapbox-parent-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.mapbox-parent-container .mapboxgl-control-container {
  display: none;
}

.mapbox-parent-container .map-container {
  width: 100%;
  height: 100%;
}

.mapbox-parent-container .map-overview-container {
  position: absolute;
  top: .5rem;
  left: 77%;
  width: 20%;
  height: 20%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card {
  background-color: transparent;
  min-height: 32rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 28rem;
  border-radius: 1.2rem;
  color: #373737;
  -webkit-box-shadow: 0 8px 8px -4px #bdbdbd;
          box-shadow: 0 8px 8px -4px #bdbdbd;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .project-card {
    -webkit-animation: wipe-enter 1s;
            animation: wipe-enter 1s;
  }
}

.project-card .card-img {
  height: 8rem;
  width: 100%;
  border-radius: 1.2rem 1.2rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-card .card-info {
  background-color: #FFFFFF;
  padding: 1.2rem;
  min-height: 20rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  border-radius: 0 0 1.2rem 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.project-card .card-info .p-location {
  margin: 5px 0;
  font-size: 0.9rem;
}

.project-card .card-info .p-name {
  margin: 2px 0;
  font-size: 1.6rem;
  font-weight: 400;
}

.project-card .card-info p {
  font-size: 0.8rem;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.project-card .card-info p:hover {
  -webkit-line-clamp: 5;
}

.project-card .card-info .service-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1.2rem;
}

.project-card .card-info .service-container .services-btn {
  height: 2.7rem;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  border: #333333 solid 1px;
  white-space: normal;
  font: .8rem Roboto;
}

.project-card .card-info .service-container .services-btn img {
  -o-object-fit: contain;
     object-fit: contain;
}

.project-card .card-info .full-view {
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: #333333 solid 1px;
  font: 1rem Roboto, sans-serif;
  color: #333333;
  text-transform: uppercase;
  cursor: pointer;
  transition: border-radius 1.2s;
  -webkit-transition: border-radius 1.2s;
}

.project-card .card-info .full-view:hover {
  border-radius: 50px 10px;
  background-color: #ba1863;
  color: #f2f2f2;
  border: none;
}

.projects-g {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-g .grid-projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1.2rem;
}

.navbar {
  background-color: #1A30DB;
  height: 3.5rem;
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo {
  background: transparent;
  border: none;
  cursor: pointer;
}

.navbar .nav-options {
  color: #FFFFFF;
  width: 45vw;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font: 0.9rem normal Roboto, sans-serif;
}

.navbar .nav-options .nav-item {
  cursor: pointer;
  padding: 0.5rem;
  letter-spacing: 1.25px;
  transition: border-radius 1.2s;
  -webkit-transition: border-radius 1.2s;
}

.navbar .nav-options .nav-item:hover {
  border-radius: 50px 50px 50px 10px;
  background-color: #FFFFFF;
  color: #333333;
}

.navbar .nav-options .nav-item:active {
  background-color: #ba1863;
  color: #f2f2f2;
}

.navbar .nav-options a {
  text-decoration: none;
}

.navbar .nav-options a:visited {
  color: #ffbc15;
}

.footer {
  background-color: #1A30DB;
  height: 3.5rem;
  padding: 0 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo {
  background: transparent;
  border: none;
  cursor: pointer;
}

.footer .nav-options {
  color: #FFFFFF;
  width: 25vw;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font: 0.9rem normal Roboto, sans-serif;
}

.footer .nav-options .nav-item {
  cursor: pointer;
  padding: 0.5rem;
  letter-spacing: 1.25px;
  transition: border-radius 1.2s;
  -webkit-transition: border-radius 1.2s;
}

.footer .nav-options .nav-item:hover {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}

.footer .nav-options a {
  text-decoration: none;
}

.footer .nav-options a:visited {
  color: #ffbc15;
}

.Main .projects-g {
  margin-top: 35vh;
  margin-bottom: 10vh;
}

.projectinfo {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: 'Roboto', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.projectinfo .pimage {
  width: 30rem;
  height: 30rem;
  border-radius: 1.2rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.projectinfo p {
  margin-top: 2.5rem;
  font-size: 1.1rem;
}

.s-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1.2rem;
}

.s-container .s-btn {
  height: 2.7rem;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  border: #333333 solid 1px;
  white-space: normal;
  font: .8rem Roboto;
}

.s-container .s-btn .limage {
  -o-object-fit: contain;
     object-fit: contain;
}

.s-container .s-btn:hover {
  font-size: 1rem;
}

.project-problem {
  margin-top: 3rem;
}

.project-problem p {
  font: normal 400 1rem/1.5rem Roboto, sans-serif;
}

.project-collapsible {
  margin-top: 6rem;
}

.Collapsible {
  background-color: transparent;
}

.Collapsible__contentInner {
  padding: 10px;
}

.Collapsible__contentInner p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.Collapsible__contentInner p:last-child {
  margin-bottom: 0;
}

.Collapsible__trigger {
  display: block;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  border-top: 1px solid #333333;
  padding: 10px;
  background: transparent;
  color: #333333;
}

.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '▼';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}

.Collapsible__trigger.is-open:after {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: #6f6f6f;
}

.main-gallery {
  width: 100%;
  height: 30rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main-gallery .project-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 12rem;
  width: 100%;
}

.main-gallery .project-gallery .gallery-img {
  max-height: 100%;
  width: 32%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  margin: .2rem;
  border-radius: .5rem;
}

.project-impact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-impact .chart-container {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
}

.project-impact .chart-container .graph-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-height: 7rem;
  max-width: 12rem;
  background-color: #f2f2f2;
  border-radius: .8rem;
}

.project-impact .chart-container .graph-info h3 {
  font: normal 500 1.1rem/1.3rem Roboto, sans-serif;
  text-transform: uppercase;
  padding: .5rem .6rem;
  color: #333333;
}

.project-impact .chart-container .graph-info h4 {
  font: normal bold 3.7rem/.7rem Roboto, sans-serif;
  color: #1A30DB;
  margin: 0;
}

.map-i-container {
  margin-top: 4rem;
}

.map-i-container .map-project {
  height: 400px;
}

.IdProjects {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1.5rem 9rem 5rem;
  font-family: 'Roboto', sans-serif;
}

.IdProjects .p-medium {
  font: normal 400 1.5rem Roboto, sans-serif;
  margin-bottom: 2rem;
}

.IdProjects .p-big {
  margin: 5px 0 .5rem;
  font-size: 1.2rem;
}

.IdProjects .p-name {
  margin: 2px 0 2rem;
  font-size: 2.8rem;
  font-weight: 400;
}

body {
  margin: 0;
}
/*# sourceMappingURL=index.css.map */