.project-collapsible {
  margin-top: 6rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 375px) {
    margin-top: 2rem;
  }
}

.Collapsible {
  background-color: transparent;
}

.Collapsible__contentInner {
  padding: 10px;

  p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: block;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  border-top: 1px solid $gris1;
  padding: 10px;
  background: transparent;
  color: $gris1;

  &:after {
    font-family: 'FontAwesome';
    content: '▼';
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: $gris2;
  }
}
